<div class = "movies">
    <mat-card class = "movie" *ngFor = "let movie of movies; let i = index;">
        <mat-card-header class = "movies-header">
            <mat-card-title class = "movies-header-text">{{movie.Title}}</mat-card-title>
            <mat-card-subtitle class = "movies-header-text"> Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src = {{movie.ImagePath}} alt = {{movie.Title}} style = "width: '250px'" style = "height: '500px'"/>
        <mat-card-actions class = "movies-actions">
            <button
                class = "card-button" 
                mat-button
                (click) = "openGenre(movie)"
            >
                Genre
            </button>
            <button
                class = "card-button" 
                mat-button
                (click) = "openDirector(movie)"
            >
                Director
            </button>
            <button 
                class = "card-button"
                mat-button
                (click) = "openMovieDetails(movie)"
            >
                Synopsis
            </button>
            <a
                (click) = "toggleFavorite(movie)"
            >
                <mat-icon class ="favs-icon">
                    {{movieIsFavorite(movie._id) ? 'favorite' : 'favorite_border' }}
                </mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>
</div>