:host {
    .login-title{
        margin-bottom: 10px;
        font-size: larger;
    }
    .login-actions {
        margin: 5px;
    }
    .login-button {
        background-color: #424242;
        color: white;
    }

}