:host {
    .registration-title{
        margin-bottom: 10px;
        font-size: larger;
    }
    .registration-actions {
        margin: 5px;
    }
    .registration-button {
        background-color: #424242;
        color: white;
    }

}